/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:aliceblue;
}

.container{
  width: 40%;
  background-color: rgb(47, 51, 51);
  padding: 15px;
  border-radius: 5px;
}

.number-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align:center;
}

.number{
  border-radius: 100%;
  color: dimgray;
  width: 2rem;
  height: 2rem;
  
  background-color: rgb(255, 255, 255);
  margin: 10px;
}

.cart-text{
  margin-bottom: 20px;
  text-align: center;
}

.button-area{
  display: flex;
  justify-content: space-between;
}

.active{
  background-color: dodgerblue;
  color: whitesmoke;
}

.button{
  background-color: dodgerblue;
  border-radius: 20px;
  border: none;
  padding : 5px 11px 5px 11px;
} */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.item-container{
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.item-ul{

  width: 11rem;
  background: rgb(153, 153, 153);
  padding: .7rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
}

